pandas: https://pandas.pydata.org/docs/user_guide/index.html#user-guide

pandas DF: https://pandas.pydata.org/docs/reference/frame.html

In [ ]:
import pandas as pd
import numpy as np

<a id="0"></a> <br>
 # Table of Contents  
1. [Options](#options)
1. [Index](#index)
    1. [MultiIndex](#multiindex)
1. [String](#string)
    1. [Series.str](#series.str)
1. [Dates](#dates)
    1. [pd.to_datetime()](#pd.to_datetime())
    1. [pd.date_range()](#pd.date_range())
    1. [Series.dt](#series.dt)
    1. [Time Delta](#timedelta)
1. [Create DataFrame](#createdataframe)
1. [Mutability](#mutability)
1. [Data Types](#datatypes)
    1. [Category](#category)
1. [Input/Output](#input/output)
1. [Sorting](#sorting)

<a id="options"></a> 
# ---------- Options ----------

[Table of Contents](#0)

In [ ]:
## describe all options
pd.describe_option()

In [ ]:
## show the current value of an option
pd.options.display.max_rows
# .max_rows(None) .max_columns(None) .precision(6)

In [ ]:
## set an option
pd.set_option("display.max_rows", 999)

<a id="index"></a> 
# ---------- Index ----------

[Table of Contents](#0)

In [ ]:
## convert single/multi index to series
index.to_series(name="name", index=[1,2,3])

## repeat index in order
index.repeat(repeats=10)

<a id="multiindex"><a/>
## MultiIndex

In [ ]:
## the following 3 return the same MultiIndex

## from arrays
pd.MultiIndex.from_arrays([['a', 'a', 'b', 'b'], ['1', '2', '1', '2']],
                          names=["level1", "level2"])

## from tuples
pd.MultiIndex.from_tuples([('a', '1'), ('a', '2'), ('b', '1'), ('b', '2')],
                          names=["level1", "level2"])

## cartesian product
pd.MultiIndex.from_product([['a', 'b'], ['1', '2']],
                           names=["level1", "level2"])

In [ ]:
## slice multi-index (must specify value at all levels)
df.loc[('a', '1')]

## slicing based on a subset of levels
df.xs(('value1', 'value2'), level=['level1', 'level3'])

In [ ]:
## get level values
## specify integer or level name
index.get_level_values(level=0)

## flatten index
index.to_flat_index()

## drop a level of index from dataframe
## specify integer or level name
df.droplevel(level)

<a id="string"></a> 
# ---------- String ----------
[Table of Contents](#0)

<a id="series.str"></a> 
## Series.str

In [ ]:
## retrieve i-th character
series.str[i]

## replace pattern
series.str.replace(pat=' ', repl='-', regex=False)

## split string by pattern, new column for each item (up to n columns)
series.str.split(pat='', expand=True, n=-1)

## extract named groups, creating one column per group
string_series.str.extract(r"(?P<letter>[ab])(?P<digit>\d)")

## concatenate series into one string value
series.str.cat(sep=',', na_rep='-')

## concatenate with another equal-length series
series.str.cat(series2, sep='_', na_rep='')

## concatenate with a equal-length dataframe, joining using index
series.str.cat(df, sep='_', na_rep='', join='outer')

# .lower() .upper() .len() .strip() .lstrip() .rstrip() 
# .repeat() .pad()
# .isalpha() .isdigit() .islower()

<a id="dates"></a>
# ---------- Dates ----------

[Table of Contents](#0)

<a id="pd.to_datetime()"></a> 
## pd.to_datetime()

In [ ]:
## returns Timestamp object for 'now'
pd.to_datetime('today')

In [ ]:
## format list of string dates as DatetimeIndex, each item a Timestamp object
pd.to_datetime(['26-03-1997', '20-04-1998'], format="%d-%m-%Y")

# %a - abbreviated weekday name | %A - full weekday name
# %d - day of month zero padded
# %b - abbreviated month name | %B - full month name
# %m - month zero padded
# %y - year without century zero padded | %Y - year with centure

<a id="pd.date_range()"></a> 
## pd.date_range()

In [ ]:
## create a range of dates, at fixed intervals
## specify start, period, freq
## each item a Timestamp object
pd.date_range(start='2020-01-01', periods=4, freq='M')

## specify start, end, freq
pd.date_range(start='2020-01-01', end='2020-12-01', freq='MS')
# freq: "4H", "6H", "D", "W-MON", "W-SUN", "MS", "M", "QS", "Q", "A-JAN", "A-DEC"

<a id="series.dt"></a> 
## Series.dt

In [ ]:
## get component of datetime
series.dt.month_name()
# second, minute, hour,
# day, dayofweek, dayofyear, day_name(), week, weekofyear, month, month_name(), quarter, year

## maps to period
series.dt.to_period('Q')
# freq: "4H", "6H", "D", "W-MON", "W-SUN", "MS", "M", "QS", "Q", "A-JAN", "A-DEC"

## change date format
series.dt.strftime('%d/%m/%Y')

## make series time zone aware
series.dt.tz_localize('EST')

## change time zone aware series to another time zone
series.dt.tz_convert('US/Pacific')

<a id="timedelta"></a>
## Time Delta

In [ ]:
## difference between two Timestamps
## returns Timedelta object
time_delta = pd.Timestamp("2020/03/24 00:18:48") - pd.to_datetime("2019/03/04 00:12:23")

In [ ]:
## extract time component from Timedelta
time_delta.days 
# microseeconds, seconds, total_seconds()

In [ ]:
## subtract Timestamp by Timedelta
## absolute time arithmetic
pd.to_datetime("2020/03/24 00:18:48") - pd.Timedelta(days=9, weeks=1)
# kwargs: years, months, weeks, days, hours, minutes
#         seconds, milliseconds, microseconds, nanoseconds

In [ ]:
## subtract Timestamp by DateOffset
## respects calendar arithmetic
pd.to_datetime("2020/03/24 00:18:48") - pd.DateOffset(days=9, weeks=1)
# kwargs: years, months, weeks, days, hours, minutes
#         seconds, milliseconds, microseconds, nanoseconds

<a id="createdataframe"><a/>
# ---------- Create DataFrame ----------
    
[Table of Contents](#0)

In [ ]:
## from dictionary
pd.DataFrame({'col1': [10,20], 'col2': ['a','b']}, index=[1,2])

## from nested list
pd.DataFrame([[1,2,3], ['a','b','c']], index=[1,2], columns=['col1', 'col2', 'col3'])

## from list of dictionaries
pd.DataFrame([{'col1': 1, 'col2': 2}, {'col1': 1, 'col3': 3}], index=[1,2])

<a id="mutability"><a/>
# ---------- Mutability ----------

[Table of Contents](#0)

In [ ]:
## changing cell (0,2) will not change all values in column 2
## although list multiplication created 10 references to the same list
df1 = pd.DataFrame([[0,1,2]]*10, columns=['a','b','c'])
df1.iloc[0,2] = 2000

## changes the original df, unless copied
def func(df):
    df = df.copy(deep=True)
    df.loc[5,0] = 1000
    
## df can be modified through df2
## i.e. a view is created using .iloc, .loc, or df["col"]
df2 = df1.iloc[4:8,0:2].T
df2.iloc[1,2] = 1000

## a copy is created
df2 = df1.loc[df1.index.repeat(3)]

<a id="datatypes"><a/>
# ---------- Data Types ----------

[Table of Contents](#0)

In [ ]:
## change type for entire dataframe
df.astype(int)

## change type for particular columns
df.astype({'colname1': 'float32', 'colname2': 'str'})

## convert to numeric
pd.to_numeric(series, errors='coerce')
# errors: 'ignore', 'raise', 'coerce'

## convert to numpy array / dataframe
series.to_numpy() 
# .to_frame()

In [ ]:
## .astype('string') changes np.nan to pd.NA
pd.DataFrame([[1.0, 1, pd.NA, np.nan]]).astype('string')

<a id="category"><a/>
## Category

In [ ]:
## convert values to 'category' type
series.astype('category')

In [ ]:
## rename categories
## a list, or a dict, or a callable
series.cat.rename_categories(['excellent', 'good', 'bad'])

## set order of categories
series.cat.set_categories(['bad', 'good', 'great'], ordered=True)

## reorder
series.cat.reorder_categories(['great', 'good', 'bad'], ordered=True)

In [ ]:
# .remove_unused_categories()
# .remove_categories(['cat1', 'cat2'])
# .as_ordered()
# .as_unordered()

<a id="input/output"><a/>
# ---------- Input / Output ----------

[Table of Contents](#0)

In [ ]:
path = ("C:/Users/mushj/Desktop/WORK/")

## read table
data = pd.read_table(path + "filename.csv",
                     header=3, sep=',', nrows=-1)

## .xlsx files
data = pd.read_excel(path + "filename.xlsx",
                     header=3, sheet_name='sheet_name or #')
# sheet_name=None (read all sheets)

## .csv files
data = pd.read_csv(path + "filename.csv",
                   sep=';', delim_whitespace=False)

## writing
data.to_csv("filename.csv", index=False)
data.to_excel("filename.xlsx")
data.to_sql("filename.sql")

In [ ]:
## writing to multiple sheets in Excel workbook
with pd.ExcelWriter("filename.xlsx",
                    date_format="YYYY-MM-DD",
                    mode="a", # 'w', 'a'
                    engine="openpyxl",
                    if_sheet_exists="replace" # ‘error’, ‘new’, ‘replace’, ‘overlay’
                   ) as writer:
    df1.to_excel(writer, sheet_name="Sheet1")
    df2.to_excel(writer, sheet_name="Sheet2")

# ---------- Data Overview

In [ ]:
data.shape
data.columns.values
data.index.values
data.dtypes
data.head(n=5)
data.tail(n=5)
data.info()

# use .equals to compare df with np.nan, as np.nan != np.nan
(data * 2).equals(data + data)

# descriptive overview with custom percentiles
data.describe(percentiles=[0.05, 0.1, 0.25], include=['float64'])

## get unique values / counts of unique values
df|series.nunique()
series.unique()

data.duplicated(subset=['colname1', 'colname2'], keep=False) # keep: first, last

# count value by group
# add .to_frame(name='colname') to format as DataFrame
data.value_counts(["colname1", "colname2", "colname3"],
                  normalize=False sort=True, ascending=False)

# print value counts for all object variables
for col in data.columns.values:
    if data[col].dtypes == 'object':
        print(data.value_counts(col))
        print('\n')

# check NaNs
# axis=0 -> sum across rows, for each column
data.isnull().sum(axis=0)
data.notnull().sum(axis=0)
data.isna().sum(axis=0)
data.notna().sum(axis=0)

# ---------- Math/Stat Operations

In [ ]:
# --- descriptive statistics
# Dataframe & Series:
# .count() .sum() .mean() .mad() .median() .min() .max() .mode()
# .abs() .prod() .std() .var() .sem() .skew() .kurt() .quantile(0.75)
# .cumsum() .cumprod() .cummin() .cummax()
# .pct_change(periods=1)
# data['colname1'].cov(data['colname2'])  data.cov()  | .corr(method='')

# standard error of mean
data.sem(axis=0, numeric_only=True, skipna=True)

# Series:
# .autocorr(lag=1)
data['colname'].autocorr(lag=5)

# --- arithmetic
# .add() .sub() .mul() .div() .floordiv() .mod() .pow()
data.sub([1, 2, 3], axis=1, fill_value=None) # broadcast rowwise

# Dataframe & Series
# closed: left, right, both, neither
data.rolling(window=4, center=False, closed=None).mean()
# rolling with custom function: Mean Absolute Deviation from mean within window
data.rolling(window=4).apply(lambda x: np.abs(x - x.mean()).mean())

# get index of min/max
# .idxmin()
data.idxmax(axis=0)

In [ ]:
# correlation matrix: get corrs > 0.7
cor_mat = data.corr()
pairs = cor_mat.unstack().sort_values(ascending=False)
pairs_cleaned = pairs[[i[0] != i[1] for i in pairs.index]].drop_duplicates() # remove self-corr and symmetry
pairs_cleaned[pairs_cleaned > 0.7]

# ---------- Label

In [ ]:
# rename columns
data.columns = ['newcolname1', 'newcolname2', 'newcolname3']

# rename selected columns
data.rename(columns={'oldcolname1': 'newcolname1', 'oldcolname2': 'newcolname2'},
            index={'oldrowname': 'newrowname'})

# add new index
new_ind = data.index.union(pd.Index([3,4,5,6]))
data.reindex(new_ind)

# reset index; drop=True -> don't keep index as column
data.reset_index(inplace=True, drop=True)

# set a certain variable as index
data.set_index(keys='varname', drop=True)

# label axis names with list object, axis=0 (row names), axis=1 (colnames)
data.set_axis(labels=['a', 'b', 'c'], axis=1)

# name series before concatenating to dataframe
pd.Series(new_col, name='new_colname')

<a id="sorting"><a/>
# ---------- Sorting ----------
[Table of Contents](#0)

In [ ]:
## reorder dataframe based on new index/column order
df.reindex([4, 2, 1, 3], axis=0)
df.reindex(index=[4, 2, 1, 3], columns=['C', 'A', 'B'])

## if there are new indexes, fill with
## ffill (forward), bfill (backward), nearest
df.reindex(index=[1,2,3,4,5], method='ffill')

## sort data by values of a column(s)
df.sort_values(['colname1', 'colname2'], ascending=False, axis=0)

## sort data by a level of multiindex
df.sort_index(level=[1,0], ascending=False)

<a id="merging"><a/>
# ---------- Merging ----------
[Table of Contents](#0)

In [ ]:
## concatenate two dataframes / series row-wise or column-wise
pd.concat(objs=[df1, df2, df3], axis=1, ignore_index=True, join='outer')

# conventional merging
pd.merge(left=left_df, right=right_df, on='join_column', how='left/right/outer/inner/cross',
         suffixes=['_left', '_right'])

# joining from map
dct = {'Male': 1, 'Female': 2}
df['tip_means_by_sex'] = df['sex'].map(dct)

# patch NaNs in df1 with values in df2 (df1, df2 like-indexed)
df1.combine_first(df2)

# replace non NaNs in df1 with values in df2 (df1, df2 like-indexed)
df1.update(df2)

In [ ]:
# left join example:
df1 = pd.DataFrame({'col1': ['a', 'b'], 'col2': [1, 2]})
df2 = pd.DataFrame({'col1': ['a', 'a', 'b', 'b', 'b'], 'col3': [101, 102, 901, 902, 903]})
df1

In [ ]:
df2

In [ ]:
df1.merge(df2, on='col1', how='left')

# ---------- Slice / Filter

In [ ]:
# dtypes: int64, float64, bool, datetime64, timedelta64, object, category
data.select_dtypes(include=['int64'], exclude=['object'])

# .nsmallest
data.nlargest(4, 'colname')

# label-based: search by row/col labels
data.loc[['2017-01-03', '2017-01-05'], ['colname1', 'colname2']]

# search by index
data.iloc[0:10, 0:2]

# get iloc index of column
data.columns.get_loc('colname')

# random sample: specify <n> or <frac>
data.sample(n=3, weights='weights_column', replace=False, axis=0, random_state=42)
# randomize
data.sample(frac=1).reset_index(inplace=True, drop=True)

# filter data where values of colname is in a list
data[data['colname'].isin(['A', 'B', 'C'])]

# filter data where column name contains string
data[data['colname'].str.contains('hello')]

# filter by multiple conditions on rows and columns
# add '~' to condition as negation, '|' for or
data.loc[(data['colname1'] > 0) & ~(df_sales['colname2'] == 100), ['colname3']]


# cut by specifying bins: [0,18], (18,40],...
pd.cut(x=data.age,
       bins=[0, 18, 40, 60, np.infty],
       include_lowest=True,
       right=True,
       labels=['young', 'adult', 'old', 'retired'])

# cut by specifying percentile bounds
# or number of percentiles: q=10 -> deciles
pd.qcut(x=data.age, q=[0.25, 0.5, 0.75, 1], labels=['A', 'B', 'C'])

In [ ]:
## iterate through rows
for i,row in df.iterrows():
    print(i, row["col1"], row["col2"])

## query()

In [ ]:
## reference a variable
df.query("col_name >= @var")

## multiple filters
df.query("col_name == 'abc' & col_name == 'xyz'")

## column name with space
df.query("`col name` < 1")

## operations
df.query("col_name != 1 + 2")

## reference other columns
df.query("col_name1 > (col_name2 + col_name3) / 2")

## .isin()
df.query("`col name`.isin([1,2,3])")

# ---------- Reshape

In [ ]:
## unpivot all columns, creating a new level of index
df.stack(level=-1)

## reverses stack: pivots a level of index as columns
df.unstack(level=-1)

## explodes a column of arrays into rows,
## repeating values of other columns
df.explode(column='colname')

## unpivot
df.melt(id_vars=["col1", "col2"], value_vars=["col3", "col4"],
        var_name="variable", value_name="value")

## pivot / crosstab

In [ ]:
# pivot
# expand multiple rows under 'colname1' as columns; columns times values set of columns
data.pivot(index='colname1', columns=['colname2'], values=['colname3', 'colname4'])

# pivot table
# values: the column to be aggregated
data.pivot_table(index="colname1", columns="colname2", values="colname3",
                 aggfunc='mean', margins=True)

# get proportion by each row
pivot_table.div([row1_sum, row2_sum, row3_sum], axis=0)

# return cross-tabulated counts/percentages
pd.crosstab(data["colname1"], data["colname2"], normalize=True)
# with aggfunc
pd.crosstab(data["colname1"], data["colname2"],
            margins=True, values=data["colname3"], aggfunc=lambda x: np.mean(x))

## group by

In [ ]:
# as_index=True makes groups into indexes
grouped = data.groupby(['colname1', 'colname2'], as_index=False)

grouped.get_group('group_i_name') # get the dataframe of that group, group name is categorical level
grouped.groups.keys() # get all group names (keys) | values are indexes
[(name, group_data) for (name, group_data) in grouped] # unpack names and groups

# compute aggregations
grouped['colname3'].mean()
grouped['colname3'].agg(['mean', 'std'])


# group-by with .agg()
(db1.groupby('colname')
    .agg({'colname1': ['first', 'last'],
          'colname2': ['sum', 'mean', 'count'],
          'colname3': lambda x: x.max() - x.min()  # x refers to all rows in each group
         })
)
# with names
(data.groupby('colname')
     .agg(agg_name1 = ('colname1', 'sum'),
          range = ('colname2', lambda x: x.max() - x.min())
         )
)


# custom named function
custom_function = lambda x: x
custom_function.__name__ = 'func_name'
data.agg([custom_function])


# group by custom index values
df.groupby(lambda x: x.year).sum()

# apply transformation within each group
data.groupby('colname1').transform(lambda x: x - x.mean())
data.groupby('colname1').rolling(window=3)['colname2'].mean()

# ---------- Transform

## Basic

In [ ]:
# Dataframe & Series:
data.shift(-1) # lead (shift backward/right)
data.shift(1) # lag (shift forward/left)
data.diff(1) # difference between two-elements: i - (i-1), start from i=0
data.diff(-1) # difference between two-elements: (i-1) - i, start from i=0

# create new column based on existing columns
data["new colname"] = data["colname1"] + data["colname2"]


# --- handling NaN
# drop na values by column; subset=Null for entire dataset
data.dropna(subset=["colname"], axis=0, inplace=True)

# fill na
data.fillna(value=0) # fill all NaN with value
data.fillna(value={'colname1': 0, 'colname2': 100}) # fill with dictionary (keys must match colnames)
data.fillna(value=data.mean()[['colname1', 'colname2']]) # fill with series (index must match colnames)
data.fillna(method=None) # ‘bfill’, ‘ffill’

# interpolation
# linear, quadratic, cubic
data.interpolate(method='linear')

# drop columns based on name
data.drop(columns=["colname1", "colname2"], axis=1, inplace=True)

# drop columns based on index
data.drop(columns=data.columns[i], axis=1)

# drop duplicated rows
data.drop_duplicates(subset=["colname1", "colname2"], keep={'first', 'last', False})


# replace values
data.replace(to_replace=["yes", "no"], value=[1, 0], inplace=False)

# replace with dictionary
data.replace({'oldvalue1': 'newvalue1', 'oldvalue2': 'newvalue2'})

# replace values with regex
data.column.replace(to_replace='^(.)|(.)$', value='_', regex=True)


## get dummies
pd.get_dummies(df|series, prefix="prefix", prefix_sep="_", drop_first=False)

# returns dataframe of same shape as original, values outside of condition become NaN
data.where(data > 0)
# or replace those values with 'other'
data.where(data > 0, other=-data, inplace=False)

In [ ]:
## replace multiple columns at once
df[["A_new", "B_new", "C_new"]] = df[["A", "B", "C"]].values * df["D"].values.reshape(-1,1)

In [ ]:
.resample()
.ffill()
.bfill()

## apply()

In [ ]:
# if axis=0, average of top and bottom values for each column
# if axis=1, average of leftmost and rightmost values for each row

# apply function to each element in data frame
data.applymap(func=lambda x: x**2)

# creating a new column based on two columns
# axis=1: apply function to each row
data[['Double_Header', 'Tickets_Sold']].apply(lambda x: x[1] if pd.isna(x[0]) else x[1]/2, axis=1)

## pipe()

In [ ]:
def step_1(df, na_subset):
    return df.dropna(axis=0, subset=[na_subset])

def step_2(df, operation='add', constants=[0,0,0]):
    if operation == 'add':
        return df.add(constants, axis=1)

(data.pipe(step_1, na_subset='region A')
     .pipe(step_2, operation='add', constants=[10, 20, 30])
)

## transform()

In [ ]:
# selective transformation
data.transform({'colname1': np.abs,
                'colname2': lambda x: x + 1})

# apply multiple functions to one column
data['colname'].transform([np.abs, lambda x: x + 1])

# apply multiple functions to all columns
data.transform([np.abs, lambda x: x + 1])

In [ ]:
df.groupby().transform

## assign()

In [ ]:
## create two new columns (column names as arguments)
df.assign(total=lambda x: x.sum(axis=1),
          total_times_10=lambda x: x['total'] * 10)

## create two new columns with dictionary
df.assign(**{"var": lambda x: x, "var2": lambda x: x})