## Immutability

Immutable data types: bool, int, float, tuple, str

In [2]:
x = 10 # point x at 10
y = x # assign y with what x 'points at'
id(x) == id(y)

True

In [3]:
id(x) == id(10)

True

In [4]:
# integers are immutable, adding points x to another integer
x += 1
print(f"x = {x}, y = {y}")
print(f"x: {id(x)}, y = {id(y)}")

x = 11, y = 10
x: 2263303979568, y = 2263303979536

## Mutability

Mutable data types: list, set, dict

In [5]:
x = [1,2,3,4]
y = x
id(x) == id(y)

True

In [6]:
id(x) == id([1,2,3,4])

False

In [7]:
# lists are mutable, changing an element of a list
# does not necessitate the creation of a new list
print(id(x))
x[0] = 10
print(id(x))

2263388028672
2263388028672

In [8]:
# x and y points to the same list
# popping x's reference pops y's reference too
x.pop(0)
y

[2, 3, 4]

### Range

In [ ]:
list(range(10, 50, 5))

[10, 15, 20, 25, 30, 35, 40, 45]

### Enumerate

In [ ]:
for i in enumerate(['A', 'B', 'C']):
    print(type(i), i, sep = ' ')

<class 'tuple'> (0, 'A')
<class 'tuple'> (1, 'B')
<class 'tuple'> (2, 'C')

### Zip

In [ ]:
# zipping iterables of unequal lengths truncates to the smallest length iterable
for i in zip(['v', 'w', 'x', 'y', 'z'], ['A', 'B', 'C'], range(100)):
    print(type(i), i, sep = ' ')

<class 'tuple'> ('v', 'A', 0)
<class 'tuple'> ('w', 'B', 1)
<class 'tuple'> ('x', 'C', 2)

## Multiple Assignment

In [ ]:
my_tuple = (1, 2, 3)
a, b, c = my_tuple

print(f"a = {a}, b = {b}, c = {c}")

a = 1, b = 2, c = 3

In [ ]:
a, b, c = 1, 2, 3

print(f"a = {a}, b = {b}, c = {c}")

a = 1, b = 2, c = 3

In [ ]:
a = b = c = 'string'

print(a == b == c == 'string')

True

## Asterisk Prefix

In [ ]:
*a, b = 100, 200, 300, 400

print(f"a = {a}, b = {b}")

a = [100, 200, 300], b = 400

In [ ]:
a, *b = [100, 200, 300, 400]

print(f"a = {a}, b = {b}")

a = 100, b = [200, 300, 400]

In [ ]:
my_list = ['bat', 'cat', 'dog', 'emu', 'fox']

print(*my_list) # passes all items in my_list into print() as separate arguments

bat cat dog emu fox

In [ ]:
my_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

print([list(row) for row in zip(*my_list)]) # transpose of the matrix

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [ ]:
my_list = list('Abcdefg')

print([*my_list[1:], my_list[0]] == my_list[1:] + [my_list[0]])

True

In [ ]:
# unpacks using keywords
# keywords must be unique
dct1 = {'month': 'January', 'day': 15, 'year': 2020}
dct2 = {'status': 'passed', 'name': 'Frederick'}

print("On {day} {month} {year}, {name} {status}".format(**dct1, **dct2))

On 15 January 2020, Frederick passed

In [ ]:
dct1 = {'A': 10, 'B': 20, 'C': 30}
dct2 = {'C': 40, 'D': 50}

{**dct1, **dct2} # unpacking into one dictionary, replacing duplicate keys

{'A': 10, 'B': 20, 'C': 40, 'D': 50}

## Asterisk Prefix in Functions: args / kwargs

Within function parameter definition:

default values can be specified anywhere.

\*args can be specified anywhere.

\**kwargs must be at the end.

In [ ]:
def test_3(**kwargs):
    for key, value in kwargs.items():
        print(key, kwargs.get(key))

test_3(a=1, b=2, c=3)

a 1
b 2
c 3

In [ ]:
def func(a, b="default_b", *args, c, d="default_d", **kwargs):
    
    print("a =", a)
    print("b =", b)
    
    for i in args:
        print(i)
        
    print("c =", c)
    print("d =", d)
    
    for i,j in kwargs.items():
        print(i,j)
        
func(1,2,3,4,5,6, c=7, e=8, f=9, g=10)

## Sets

In [ ]:
{1.0, "Hello", (1, 2, 3)} # mixed set, but cannot contain mutables e.g. lists

{(1, 2, 3), 1.0, 'Hello'}

In [ ]:
len(set('abcdefg'))

7

In [ ]:
set([1, 2, 3, 4]) # input an iterable

{1, 2, 3, 4}

In [ ]:
set('ddddcccbba') == {'d', 'a', 'b', 'c'} # sets are unordered

True

In [ ]:
str(set('12345')) # printing or converting a set to string has no order

"{'3', '5', '4', '1', '2'}"

In [ ]:
my_set = {1, 2, 3}
1 in my_set

True

In [ ]:
my_set.add(4) # add item
my_set.remove(1) # remove item
my_set.discard(1000) # discarding item not in set will not return error
my_set.update('abc') # add multiple items
my_set

{2, 3, 4, 'a', 'b', 'c'}

In [ ]:
my_set = set('abcdefg')
my_set.pop() # randomly pops an item

'b'

In [ ]:
my_set = set('abcdefg')

while len(my_set) != 0:
    print(my_set)
    my_set.pop()

{'b', 'a', 'f', 'c', 'g', 'e', 'd'}
{'a', 'f', 'c', 'g', 'e', 'd'}
{'f', 'c', 'g', 'e', 'd'}
{'c', 'g', 'e', 'd'}
{'g', 'e', 'd'}
{'e', 'd'}
{'d'}

## Set Operations

In [ ]:
A = set('12345')
B = set('45678')
A.union(B)

{'1', '2', '3', '4', '5', '6', '7', '8'}

In [ ]:
A & B == A.intersection(B)

True

In [ ]:
A - B == A.difference(B)

True

In [ ]:
A ^ B == A.symmetric_difference(B)

True

In [ ]:
# other set operations
A.union(B)
A.isdisjoint(B)
A.issubset(B)
A.issuperset(B),
A.difference_update(B)
A.intersection_update(B)
A.symmetric_difference_update(B)

False

## List

In [ ]:
lst = ["A", "B", "C", "D", "E"]
lst.pop(4)
lst.remove("B")
lst.append("X")
lst.insert(2, "Y")
lst += ["G", "H", "I"]
lst.sort(reverse=False) # can only sort homogeneous list (e.g. all string)
lst

['A', 'C', 'D', 'G', 'H', 'I', 'X', 'Y']

In [ ]:
lst.index('H')

In [ ]:
[1,2,3,4,5][3::2] # every second item starting from index 3

In [ ]:
[1,2,3,4,5][::-1] # reverse order

In [ ]:
list('any_iterable')

['a', 'n', 'y', '_', 'i', 't', 'e', 'r', 'a', 'b', 'l', 'e']

In [ ]:
list(reversed(["A", "B", "C", "D", "E"]))

['E', 'D', 'C', 'B', 'A']

In [10]:
# list multiplication: extends the list with copies of itself
lst = [1,2,3]*5
print(lst)
lst[0] = 10
print(lst)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]
[10, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [13]:
# nested-list multiplication
# DOES NOT create copies of nested lists
lst = [[1,[2,3]]]*5
print(lst)
lst[0][0] = 10
lst[0][1][0] = 20
print(lst)

[[1, [2, 3]], [1, [2, 3]], [1, [2, 3]], [1, [2, 3]], [1, [2, 3]]]
[[10, [20, 3]], [10, [20, 3]], [10, [20, 3]], [10, [20, 3]], [10, [20, 3]]]

## Dictionary

In [ ]:
dct = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
a = dct.keys()
b = dct.items()
c = dct.values()
print(a, b, c, sep = '\n')

dict_keys(['a', 'b', 'c', 'd'])
dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4)])
dict_values([1, 2, 3, 4])

In [ ]:
# retrieving values with keys
dct.get('b') == dct['b']

True

In [ ]:
# preserves order of the input iterable
dict.fromkeys([5, 5, 4, 1, 2, 2, 3, 3, 3], 100)

{5: 100, 4: 100, 1: 100, 2: 100, 3: 100}

## List/Dictionary Comprehension

In [ ]:
# list comprehension
# left-most for is the outer-most
[(i,j) for i in range(3) for j in range(2)]

In [ ]:
# list comprehension if-else
[i if i % 2 == 0 else 0 for i in range(20)]
[i for i in range(20) if i % 2 == 0]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
# dict comprehension
{f"key{i}": i for i in range(4)}

{'key0': 0, 'key1': 1, 'key2': 2, 'key3': 3}

In [ ]:
dict([('a', 1), ('b', 2)])

{'a': 1, 'b': 2}

### Sorted

In [ ]:
lst = [(1,2), (3,1), (4,3)]
sorted(lst, key=lambda x: x[1], reverse=True)

[(4, 3), (1, 2), (3, 1)]

In [ ]:
dct = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
sorted(dct.items(), key=lambda kv: kv[1], reverse=True)

[('d', 4), ('c', 3), ('b', 2), ('a', 1)]

In [ ]:
lst = [(1, 'd'), (2, 'd'), (3, 'a'), (4, 'b'), (5, 'b'), (6, 'c')]
defined_order = {'a': 3, 'b': 1, 'c': 2, 'd': 4}

[x for x in sorted(lst, key=lambda x: defined_order[x[1]])]

[(4, 'b'), (5, 'b'), (6, 'c'), (3, 'a'), (1, 'd'), (2, 'd')]

### Lambda Function

In [ ]:
# lambda function
lambda_func = lambda x, y, z: x + y + z
print(lambda_func(1, 2, 3))

In [ ]:
def my_function(n):
    return lambda x: x * n

tripler = my_function(3)
tripler(10)

30

In [ ]:
lambda x: 1 if True else 0

### Map

In [ ]:
# apply function to all values in list
m = map(lambda x: 10*x, [1,2,3])
list(m)

[10, 20, 30]

In [ ]:
m = map(lambda x: sum(x), [[1,2,3], [4,5,6], [7,8,9]])
list(m)

[6, 15, 24]

### Filter

In [ ]:
# apply function returning True/False, only returns values evaluating true
f = filter(lambda x: x % 2 == 0, range(10))
list(f)

[0, 2, 4, 6, 8]

### If-else

In [ ]:
# if-else statement within a function
def ifelse(x, y):
    print(f"{x} > y") if x > y else print(f"{x} <= {y}")

ifelse(1,2)

## General String Methods
https://www.w3schools.com/python/python_ref_string.asp

In [ ]:
print(1,2,3,4,5, sep='-', end='&')

1-2-3-4-5&

In [ ]:
"hello, what's up".replace("up", "down")

"hello, what's down"

In [ ]:
"a b c d e".split(" ")

['a', 'b', 'c', 'd', 'e']

In [ ]:
"-".join(["a", "b", "c"])

'a-b-c'

In [ ]:
"\t\n   abcdef  \n\t\t   ".strip()

'abcdef'

In [ ]:
"1234_\.abc_def.$%5678".strip("12345678%$.\_")

'abc_def'

In [ ]:
txt = "Hi Sam!"
x = "mSa"; y = "eJo"
mytable = txt.maketrans(x, y)
txt.translate(mytable)

'Hi Joe!'

In [ ]:
str('100').isdigit()

## Format String
https://docs.python.org/3/library/string.html#formatstrings

In [ ]:
# format string 1
x = "Regina"; y = "James"
f"hello {x}, my name is {y}"

'hello Regina, my name is James'

In [ ]:
# format string 2
"hello {x}, my name is {y}".format(x="Regina", y="James")

In [ ]:
"insert: %s %s %s" % ("text1", "text2", "text3")

'insert: inserted text'

In [ ]:
# convert to dollar format
"${:,.2f}".format(4500.21)

'$4,500.21'

In [ ]:
# .zfill()

## Files

In [ ]:
with open("test.txt", 'w', encoding = 'utf-8') as f:
   f.write("my first file\n")
   f.write("This file\n\n")
   f.write("contains three lines\n")

In [ ]:
with open('test.txt', mode='r', encoding='utf-8') as f:
    # operate on file, closes automatically

In [ ]:
f = open('test.txt', mode='r', encoding='utf-8')

In [ ]:
"first two letters: {a}, current position: {b}, go to index 3, read 5 places from here: {d}".format(a=f.read(2), b=f.tell(), c=f.seek(3), d=f.read(5))
f.close()

In [ ]:
for line in f:
    print(line, end='E')
f.close()

my first file
EThis file
E
Econtains three lines
E

In [ ]:
f.readline()

## Functions / Loops

### Flow control

In [ ]:
for i in range(8):
    if i <= 2:
        print("pass to next statement")
        pass

    if (i > 2) and (i < 6):
        print("continue to next loop without reaching end of loop.")
        continue

    if i == 6:
        print("break from loop")
        break

    print(f"End of loop {i}.")

pass to end of loop
End of loop 0.
pass to end of loop
End of loop 1.
pass to end of loop
End of loop 2.
continue to next loop without reaching end of loop.
continue to next loop without reaching end of loop.
continue to next loop without reaching end of loop.
break from loop

### Closure

In [ ]:
def outer_function(text):
    def inner_function():
        print(text)
    return inner_function

instance_of_function = outer_function('hello')
instance_of_function() # a nested function references a value in its enclosing scope.

hello

In [ ]:
def divisor(n):
    def divide_x_by_n(x):
        return x/n
    return divide_x_by_n

divide_by_10 = divisor(10)
divide_by_10(100)

10.0

## Error Handling

In [14]:
try:
    1 / 0
except Exception as err:
    print(err)
finally:
    print("END")

division by zero
END

## Markdown

In [ ]:
from IPython.display import Image
Image(filename='datacamp_chp1.png')